.ProductList {
    grid-area: products;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
  }
  
  .NoProductList {
    width: 100%;
    grid-area: products;
    display: flex;
    justify-content: center;
  }
  
  @media screen and (min-width: 500px) {
    .ProductList {
      width: 100%;
      grid-area: products;
      grid-template-columns: 33% 33% 33%;
    }
  
    .NoProductList {
      
      grid-area: products;
      display: flex;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    .ProductList {
      /* grid-area: products; */
      /* grid-template-columns: repeat(5, 20%);
      grid-row-gap: 10px; */
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  
    .NoProductList {
      grid-area: products;
      display: flex;
      justify-content: center;
    }
  }