.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100px;
  background-color: #800080;
  align-items: center;
}

.Content {
  display: flex;
}

.Content p {
  font-size: 1.5rem;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .Content p {
    font-size: 0.9rem;
  }
}
